body {
	background:#f8f8f8;
	background:url('images/assets/tiles-01.png');
	font-family:'montserrat', arial;
}

.header {
	color:red;
	text-align: center;
	font-size: 40px;
}

div label {
	font-style: italic;
	color: black;
	text-align: center;
}
.btn {
	color: white;
	background-color: red;
	
}

#anagram-list {
	font-size: 25px;
	color: red;
	text-align: center;
}

#arrow {
	display: block;
	margin-left: auto;
	margin-right: auto;
}