<div class="edit-word">
<h1 class="new-header">EDIT WORD</h1>
<%= erb :"words/_form" %>
</div>
<form action="<%= "/words" %>" method="get">
<input class="edit-button" type="submit" value="CANCEL" />
</form>