<h1>Words</h1>
  <table class="table table-striped">
    <thead>
      <th>Text</th>
      <th>Letters</th>    
    </thead>
    <tbody>
      <% "loop through @words here..." %>
        <tr>
          <td>(print the text here)</td>
          <td>(print letters here)</td>        
        </tr>
      <% end %>
    </tbody>
  </table>