<div class="words_show">
<div class="word-text"><h2><%= "#{@word.text.upcase}" %></h2></div>
<div id="arrows"><img src="/css/assets/arrow.png"></div>
<div class="word-letters"><h2><%= "#{@word.letters.upcase}" %></h2></div>
</div>
<form method="get" action="<%= "/words/#{@word.id}/edit" %>">
<input class="edit-button" type="submit" value="EDIT WORD" />
</form>
<form action="<%= "/words/#{@word.id}" %>" method="post">
<input type="hidden" name="_method" value="delete" />
<input class="edit-button" type="submit" value="DELETE WORD" />