<div>
	<div class="header">
<h2>Welcome to my</h2>
<h1>ANAGRAM GENERATOR</h1>
 </div>
<form action="/" method="post" class="form">
  <label for="word">Enter a word. Only 3 letters please!</label>
  <input type="text" name="word">
  <input type="submit" class="btn">
</form>
</div>