<div class="index">
<h1>ANAGRAM GENERATOR</h1>

<% if @error.present? %>
	<p class='error'><%= "#{@error}" %></p>
<% end %>

<form action="/" method="post" class="form">
	<div class="label-text"><label for="word">Enter a Word</label>
	<br />
	<input type="text" name="word"></div>
	<br />
	<input type="submit" class="button" value="Show Me My Anagrams!">
</form>
</div>