<h1 class="header">Anagrams for <strong><%= "#{@word.upcase}" %></strong></h1>
	<img id="arrow" src="public/images/assets/arrow.png"/>
<ul id="anagram-list">
    <% @anagrams.each do |word| %>
    <p><%= "#{word}" %></p>
    <% end %>
</ul>  
