<div class="show">
<h1 class="anagrams-header">Anagrams For The Word</h1>
<div class="user-word"><h2><%= "#{@word.upcase}" %></h2></div>
<div id="arrows"><img src="/css/assets/arrow.png"></div>
<div class="anagram-list">
	<% @anagrams.each do |word| %>
		<p class ="word"><%= word.text.upcase unless word.text == @word %></p>
	<% end %>
</div>
</div>
<form class="dictionary-form" action="<%= "/words" %>" method="get">
<input class="edit-button" type="submit" value="SEE DICTIONARY" />
</form>
